.b-logoAndSlogan__logo{
  font-family: Lato,sans-serif;
  color:  #ffffff;
  font-size: 40px;
  font-weight: 900;
  text-align: center
}

.b-logoAndSlogan__logo_logoYellow{
  color:  #daa504;
  text-transform: uppercase;
}

.b-logoAndSlogan__slogan{
  font-family: Lato,sans-serif;
  color:  #ffffff;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 3px;
  margin-left: 3px;
}