.b-downloadApp__name{
  font-family: Lato,sans-serif;
  color:  rgba(0, 0, 0, 0.68);
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
}

.b-downloadApp__name_padding{
  padding-bottom: 41px;
}