.b-callToAction__titleCallToAction{
  font-family: Lato,sans-serif;
  color:  #000;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.b-callToAction__titleCallToAction_padding{
  padding-bottom: 32px;
}