.b-nameAndProfession__profession{
  font-family: Lato,sans-serif;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  overflow: hidden;
  text-transform: uppercase;
  @media screen and (min-width:480px) and (max-width:579px) {
    text-align: center;
  }
  @media screen and (min-width:320px) and (max-width:479px) {
    text-align: center;
  }
}