.b-newOffer__buttonsDownload_padding{
  padding-top: 32px;
}

.b-newOffer__buttonsDownload{
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 480px) and (max-width: 579px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.b-buttonsDownload__btn{
  margin-right: 10px;
  @media screen and (min-width: 480px) and (max-width: 579px) {
    margin: 10px;
  }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    margin: 10px;
  }
}


.b-buttonsDownload__btn_hover:hover{
  box-shadow: 0 3px 8px #ffc107;
  border-radius: 32.5px;
}